@import "variables";

//Here starts about body styles
.about-body-container {
  background-color: $lightgray;
  min-height: calc(100vh - 242px);
}

.about-body {
  padding: 40px 0 40px 0;
  display: flex;
}

.about-body > div {
  width: 100px
}

.about-left {
  flex-grow: 3;
}

.about-right {
  flex-grow: 1;
}

.about-text {
  width: 90%;
  padding: 20px 0;
}

.about-box {
  width: 90%;
  background-color: $blue;
  color: white;
  padding: 20px;
}

.whatwedobox {
  background-color: $blue;
  color: white;
  padding: 20px;
}

@media all and (max-width: 1100px){
  .about-body {
    flex-direction: column;
  }

  .about-left, .about-right, .about-text, .about-box {
    width: 100% !important;
    flex: none;
  }

  .about-left {
    margin-bottom: 30px;
  }
}