@import "variables";

//Here starts general styles
* {
  margin: 0;
  font-family: $font;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 5em;
}

.container {
  width: 80%;
  margin: 0 auto;
}