@import "variables";

//Here starts header styles
header {
  width: 100%;
  background-color: $blue;
  border-bottom: 2px solid $brown;
}

.header {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

.sqli-title {
  color: $brown;
}

.navMenu {
  color: white;
  padding: 0;
  list-style-type: none;
}
.navMenu li {
  float: left;
  margin-left: 30px;
  font-size: 0.9em;
  text-align: center;
}
.header li:first-child{
  margin-left: 0;
}
.navMenu a {
  color: inherit;
  display: block;
  text-decoration: none;
}
.navMenu a:visited {
  color: inherit;
}
.navMenu .active {
  color: $brown !important;
}
@media all and (max-width: 700px){
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
@media all and (max-width: 280px){
  .header {
    height: 120px;
    text-align: center;
  }
  .navMenu .lastNavElement{
    float: none;
    margin-left: 0;
  }
}