 @import "variables";

// Here starts hero styles
.hero {
  height: 340px;
  width: 100%;
  background-image: $heroBackgroundImg;
  background-position: 50% 50%;
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  font-size: 3em;
  font-weight: bold;
}

.hero-desc {
  margin: 40px auto 0 auto;
}

@media all and (max-width: 350px){
  .hero {
    height: 200px;
  }
  .hero-desc {
    display: none;
  }
}