@import "variables";

//Here starts homepage body and elements styles
.homepage-body-container {
  background-color: $lightgray;
  padding-top: 50px;
}

.home-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.element {
  width: 33%;
  padding: 0 50px 0 50px;
  text-align: center;
  margin-bottom: 50px;
}

.element-img {
  width: 30%;
  min-width: 70px;
}

.element-title {
  font-size: 2em;
}

.element-text {
  font-size: 1em;
}

@media all and (max-width: 820px){
  .element {
    width: 50%;
    margin-bottom: 50px;
    padding: 0 20px 0 20px;
  }
}
@media all and (max-width: 600px){
  .element {
    width: 100%;
    margin-bottom: 50px;
  }
  .element-img {
    width: 80px;
  }
}
@media all and (max-width: 300px) {
  .element {
    padding: 0;
  }
  .home-body {
    padding: 50px 0 0 0;
  }
}