@import "variables";

//Here starts newsletter bar styles
.newsletter-container {
  height: 80px;
  background-color: $blue;
  color: white;
}

.newsletter {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter-text {
  font-size: 1.7em;
  font-weight: bold;
}

.newsletter-email {
  height: 40px;
  width: 240px;
  padding-left: 10px;
}

.newsletter-submit {
  background-color: $brown;
  color: white;
  height: 40px;
  width: 80px;
  border: none;
}

@media all and (max-width: 820px){
  .newsletter-container {
    height: auto;
  }
  .newsletter{
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 10px 5px 10px 5px;
  }
  .newsletter-email{
    width: 100%;
    margin: 5px 0 5px 0;
  }
  .newsletter-submit{
    width: 100%;
  }
  body > section.newsletter-container > div > div > div {
    width: 100%;
  }
}