@import "variables";

//Here starts services styles
.servicesbox {
  padding: 30px;
  background-color: $darkgray;
  border: 2px solid $bordergray;
}

.quote-form input[type="text"], .quote-form input[type="email"]{
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

.quote-form textarea {
  width: 100%;
  height: 80px;
}

.quote-form button {
  background-color: $brown;
  color: white;
  height: 40px;
  width: 80px;
  border: none;
}

@media all and (max-width: 1100px){
  .quote-body {
    flex-direction: column;
  }

  .quote-body > .about-left, .about-right, .about-text, .about-box {
    width: 100% !important;
    flex: none;
  }

  .quote-body > .about-left {
    margin-bottom: 30px;
  }

  .quote-body .about-right {
    text-align: center;
  }

  .quote-form button {
    width: 100%;
  }
}