@import "variables";

//Here starts footer styles
.footer {
  height: 80px;
  width: 100%;
  background-color: $brown;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}